/* body {
    font-weight: normal !important;
    font-style: normal;
} */

html {
    box-sizing: border-box;
    
}
* {
    box-sizing: inherit;
}

.main {
    

    padding-left: 2rem;
    margin-left: 16.25rem;
    padding-top: 3rem;
    padding-bottom: 3rem;

}

/* Sidebar */
/* 각 ts 파일에 넣음 */
/* .sidebarStyle {
    width: 16.25rem;
    background: black;
    height:100%;
    position: fixed;
} */